.Features {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 2rem 0 4rem 0;
}
.Features h2 {
  font-size: 2rem;
  font-weight: 700;
}
.Features > p {
  color: rgba(13, 18, 22, 0.7);
  width: 40%;
  text-align: center;
  font-weight: 400;
  line-height: 26px;
}
.Features button {
  cursor: pointer;
  padding: 0.85rem;
  width: 17%;
  background-color: #8b3dff;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}
.flex {
  width: 90%;
  display: flex;
}

.Image {
  width: 50%;
  height: 500px;
}
.flex_container {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 2rem;
  gap: 2rem;
}
.ItemCard {
  display: flex;
  gap: 1rem;
  width: 75%;
}
.ItemCard p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #000000;
}

.ItemCard span {
  font-weight: bold;
  margin-right: 4px;
}

.Icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Icon svg {
  font-weight: bold;
  font-size: 1.8rem;
}
.file {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1024px) {
  .Features {
    width: 100%;
    padding: 2rem 0 2rem 0;
  }
  .Features > p {
    width: 90%;
  }
  .Features button {
    width: 60%;
  }
  .flex {
    width: 100%;
  }

  .Image {
    width: 50%;
    height: 500px;
  }
  .flex_container {
    align-items: center;
  }
  .ItemCard {
    width: 85%;
  }
}
@media only screen and (max-width: 650px) {
  .Features {
    width: 100%;
    padding: 1rem;
    align-items: flex-start;
  }
  .Features h2 {
    font-size: 1.5rem;
  }
  .Features > p {
    width: 90%;
    text-align: start;
  }
  .Features button {
    width: 100%;
  }
  .flex {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .Image {
    width: 100%;
    height: 250px;
  }
  .flex_container {
    width: 100%;
    padding: 1rem;
    gap: 1.5rem;
  }
  .ItemCard {
    display: flex;
    gap: 1rem;
    width: 100%;
  }
}
