header {
  width: 100%;
  height: 5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 99999;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  height: 100%;
  justify-content: space-between;
}
.image img {
  width: 100%;
}
.nav ul {
  display: flex;
  gap: 1.5rem;
}
.nav li {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
  font-size: 14px;
}
li svg {
  margin-top: 2px;
}
.profile {
  display: flex;
  gap: 1rem;
  justify-self: flex-end;
}
.profile button:nth-child(1) {
  cursor: pointer;
  padding: 0.45rem;
  width: 100px;
  background-color: #f4f4f6;
  font-weight: bold;
}
.add {
  background: #8b3dff;
  padding: 0 1.5rem;
  color: white;
  font-weight: bold;
  font-size: 13px;
  border-radius: 4px;
  cursor: pointer;
}
.center {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid grey;
}
.search_icon {
  background: #fff;
  padding: 0.35rem;
}
.search_icon svg {
  font-size: 1.5rem;
}
input {
  width: 100%;
  height: 100%;
  padding: 0.35rem;
  outline: none;
  border: none;
}
.bars {
  display: none !important;
  padding: 1rem;
}

@media only screen and (max-width: 1024px) {
  .nav {
    display: none;
  }
  .bars {
    display: block;
    padding: 1rem;
  }
  .bars svg {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 650px) {
  .navbar {
    justify-content: flex-start;
    padding: 0 1rem;
  }
  .nav {
    display: none;
  }
  .add {
    display: none;
  }
  .bars {
    display: block !important;
    padding: 0.4rem;
  }
  .bars svg {
    font-size: 2rem;
  }
  .center {
    position: absolute;
    right: calc(2rem + 100px);
    width: 40px;
  }
  .center input {
    display: none;
  }
  .profile {
    justify-self: flex-end;
    margin-right: 0;
    position: absolute;
    right: 1rem;
  }
  .profile button:nth-child(1) {
    background: #8b3dff;
    color: white;
  }
}
